/* Canvas container */
.canvas-sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #000;
  position: relative;
}

/* Close button */
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s;
}

.close-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Video & fallback */
.canvas-video,
.canvas-image,
.fallback-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.canvas-video,
.canvas-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fallback-background {
  background: linear-gradient(45deg, #1e3c72, #2a5298);
}

.track-info-top{
    position: absolute;
    top: 20px; /*to place the text top*/
    left: 5px; /*space from left side*/
    right: 5px;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.track-info-bottom{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 5px;
    right: 5px;
    color: white;
    text-shadow:  0 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.track-name-main{
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artist-name{
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-name{
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-left: 100%;
    animation: scroll 8s linear infinite; 
}
@keyframes scroll {
    0% {
        transform: translateX(0); /* Normala irukum */
      }
      /* 100% nu end panna position */
      100% {
        transform: translateX(-100%); /* Fulla left side ku poidum */
      }
  }
/* Gradient overlay */
.canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
}
  